.add-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
#todo-input {
  border-radius: 5px;
  padding: 0.5rem;
  width: 80%;
  border: 2px outset #0e959d;
}
.checkbox-text {
  display: flex;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.popup #todo-edit-input {
  border-radius: 5px;
  padding: 0.5rem;
  width: 20rem;
  border: 1px groove #0e959d;
}
.popup .edit-btn-container {
  width: 5rem;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
.popup {
  /* background-color: #6a6ca0; */
  background: linear-gradient(90deg, #6a6ca0 0%, #c0ceda 100%);
  /* background: linear-gradient(90deg, rgb(194, 182, 182) 0%, #eee8e8 100%); */
  width: 30rem;
  padding: 1rem;
  border-radius: 5px;
}
