header section{
  display: flex;
  background-color: #f2f2f2;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
}

h1 {
  /* font-size: 32px; */
  font-weight: bold;
  color: #333;
  margin: 0;
}

.btn-add {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #0069d9;
}


